<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr> 
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://kharkov.hh.ua/vacancy/24693654?query=java%20Odessa">Yii 2 Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО DO-IT</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036146">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Строительный торговый дом "Петрович"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039159">Software Development Engineer / SDE (Python or Java)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040958">Верстальщик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Крупная рекламная сеть</td> 
     <td class="salary">От 50 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040949">QA Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">UGOL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040177">Руководитель отдела java-разработки</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский банк реконструкции и развития</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040938">Java Script developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Exadel Inc.</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040932">Стартап ищет Java гуру или просто Java программиста</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SLEKI</td> 
     <td class="salary">От 30 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040930">Java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039346">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 125 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "ТехноКад"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040912">Высококлассный разработчик под Android</a></td> 
     <td class="city"></td> 
     <td class="companyName">PDApps</td> 
     <td class="salary">От 4 000 usd.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033597">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">MobileUp</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040586">Test Automation Engineer / QA -Server Side</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems</td> 
     <td class="salary">От 3 000 до 3 500 eur.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040441">Full Stack Developer (Javascript, React, Redux, Python), Data-Science</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039847">Инжинер-Программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Семишагофф</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040888">Frontend разработчик (React.js, Redux, React Native)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Perushev&amp;Khmelev</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039991">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ronte Limited</td> 
     <td class="salary">От 170 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040791">Системный администратор Linux/DB/Devops</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ОФД-Я</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038903">(Senior) full stack developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО "Софтверке"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040834">Frontend-разработчик (Java Script)</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">aim</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040302">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040844">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Astroshock</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034043">Senior Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036146">Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Строительный торговый дом "Петрович"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039159">Software Development Engineer / SDE (Python or Java)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Аквелон Иваново</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040958">Верстальщик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Крупная рекламная сеть</td> 
     <td class="salary">От 50 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040949">QA Engineer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">UGOL</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040177">Руководитель отдела java-разработки</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Уральский банк реконструкции и развития</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040938">Java Script developer</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Exadel Inc.</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040932">Стартап ищет Java гуру или просто Java программиста</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SLEKI</td> 
     <td class="salary">От 30 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040930">Java-разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039346">Ведущий Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "НТЦ "Вулкан"</td> 
     <td class="salary">От 125 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">ООО "ТехноКад"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040912">Высококлассный разработчик под Android</a></td> 
     <td class="city"></td> 
     <td class="companyName">PDApps</td> 
     <td class="salary">От 4 000 usd.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033413">Senior Java Developer (BackEnd)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033597">Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">MobileUp</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040586">Test Automation Engineer / QA -Server Side</a></td> 
     <td class="city">Лимассол</td> 
     <td class="companyName">Spotware Systems</td> 
     <td class="salary">От 3 000 до 3 500 eur.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040441">Full Stack Developer (Javascript, React, Redux, Python), Data-Science</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039847">Инжинер-Программист</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Семишагофф</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040888">Frontend разработчик (React.js, Redux, React Native)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Perushev&amp;Khmelev</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039991">Senior Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Ronte Limited</td> 
     <td class="salary">От 170 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040791">Системный администратор Linux/DB/Devops</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ОФД-Я</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038903">(Senior) full stack developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ООО "Софтверке"</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040834">Frontend-разработчик (Java Script)</a></td> 
     <td class="city">Брянск</td> 
     <td class="companyName">aim</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040302">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ВымпелКом (Билайн)</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040844">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Astroshock</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034043">Senior Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039191">Backend Software Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000035490">Java Developer</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Тенет</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040838">Инженер по автоматизации (DevOps)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АйТиЭм Холдинг</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040824">Frontend разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Gocream</td> 
     <td class="salary">От 90 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000036186">Backend developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wallet One</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040788">.Net Team Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wallet One</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040832">Frontend разработчик (React)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GOST GROUP</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040830">Java-программист</a></td> 
     <td class="city"></td> 
     <td class="companyName">Alpari</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040068">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 140 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039597">QA Automation Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 90 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040689">Lead / Senior Backend Developer (Java, Microservices)</a></td> 
     <td class="city">Барселона</td> 
     <td class="companyName">B4Finance</td> 
     <td class="salary">От 3 200 до 4 200 eur.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040797">Lead QA Automation С# (Новосибирск)</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040779">Веб-разработчик (PHP, Symfony)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">RUVENTS</td> 
     <td class="salary">От 80 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</a></td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000030101">Андроид разработчик (Android developer)</a></td> 
     <td class="city"></td> 
     <td class="companyName">TIM</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040714">Разрабочики Mid/Sen/Lead на digital и не только</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Eugene Global Consulting</td> 
     <td class="salary">От 130 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040743">PHP Team Lead</a></td> 
     <td class="city"></td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040738">Senior Java Engineer</a></td> 
     <td class="city"></td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary">До 3 500 usd.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040716">DevOps инженер</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Филиал СОВА КАПИТАЛ ЛИМИТЕД в городе ...</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040735">Ведущий Backend разработчик (Team Lead)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CryptoUniverse</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040731">Senior Software Developer (Java and JavaScript), IEO</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DELL EMC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040718">Senior Java Software Engineer, Midrange</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">DELL EMC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040022">Java-разработчик</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039787">Ведущий разработчик Java (ОФД)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040687">🔥 Backend Developer for a Blockchain Project</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KickCity</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040679">Java (Clojure)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040580">Senior Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ТЕКО</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040678">Программист С#</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Rendez-Vous</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040644">Senior Unity Developer (R&amp;D - Porting)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040643">Senior Unity Developer (R&amp;D - Autotests Platform)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040628">Back-End Web Developer (Java)</a></td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040622">Старший технический писатель</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040617">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">CryptoUniverse</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040608">Software Engineer in Test</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">KOMANDA Labs</td> 
     <td class="salary">От 130 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040384">Технический руководитель, менеджер web-проекта</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Откоробки</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040383">Java Программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Откоробки</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040587">Мобильный разработчик Android</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary">От 30 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038106">Разработчик Android (java)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Duotek</td> 
     <td class="salary">От 130 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040471">Android разработчик</a></td> 
     <td class="city">Алматы</td> 
     <td class="companyName">Колёса | Крыша | Маркет</td> 
     <td class="salary">От 300 000 до 500 000 тнг.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040569">Java developer</a></td> 
     <td class="city">Таллин</td> 
     <td class="companyName">Росиндустрия</td> 
     <td class="salary">От 4 000 eur.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040562">Web developer</a></td> 
     <td class="city">Гонолулу</td> 
     <td class="companyName">Shakacode</td> 
     <td class="salary">От 2 000 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040517">Java/Groovy разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Covergame</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040530">Senior Java developer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Smartbics</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040513">Scala developer ( Senior/ Middle )</a></td> 
     <td class="city">Иннополис</td> 
     <td class="companyName">Innopolis City</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040495">Разработчик Oracle</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Центральный банк Российской Федерации</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040496">Разработчик Java</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">Центральный банк Российской Федерации</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040498">Главный эксперт (разработка и тестирование ПО)</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Центральный банк Российской Федерации</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040489">QA Engineer/Инженер-тестировщик/Инженер автоматизационного тестирования</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ATH American Express</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033669">React Native / React.JS программист удалённо</a></td> 
     <td class="city"></td> 
     <td class="companyName">Start Mobile</td> 
     <td class="salary">От 55 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040353">QA Automation Lead</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040482">Разработчик JavaScript (Дебетовые карты)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040477">Java developer (full stack / back end)</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">EGAR Technology</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038936">Lead Java Backend Developer (Ведущий Java разработчик, бэкенд)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Social Quantum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040463">Руководитель группы разработки (IOS или Android) (или 2 вакансии или 2 в 1)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 150 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040459">Системный архитектор Java</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040357">🤖 Android Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Zerion</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037257">Senior ​​​​​​​Front-end Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033752">ANDROID HMI DEVELOPER</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 100 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040440">Full stack web developer (php, javascript)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ВиртуалПос</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000031898">Младший разработчик приложений</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">МАКСИДОМ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020115">Frontend разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 130 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037550">QA-Специалист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040413">Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FutureComes Family</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040409">Специалист по защите веб-приложений</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Яндекс.Деньги</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040404">TeamLead/Архитектор Java</a></td> 
     <td class="city"></td> 
     <td class="companyName">Компания "Аплана. Центр разработки" (...</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039008">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">OK Saturday</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037407">Java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Такском</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (Android)</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038735">System Administrator / DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040370">Senior java developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Soft-staff</td> 
     <td class="salary">До 205 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040366">JS Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040348">Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Яндекс.Деньги</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000037889">Инженер по автоматизации тестирования</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040325">Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Филиал СОВА КАПИТАЛ ЛИМИТЕД в городе ...</td> 
     <td class="salary">От 170 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000033303">Frontend разработчик / Frontend Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040311">Java developer</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039413">Java-разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000032615">программист Java</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040293">Frontend Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Loyalty Plant</td> 
     <td class="salary">От 110 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039394">Senior Python Developer, Gaming Platform</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039444">Ведущий разработчик Frontend (ОФД)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040180">Старший разработчик мобильных приложений (iOS/Android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Интерактивное агентство AGIMA</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040181">Ведущий системный администратор/ DevOps</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Интерактивное агентство AGIMA</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040182">Mobile QA engeneer/Инженер-тестировщик мобильных приложений (iOS, android)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Интерактивное агентство AGIMA</td> 
     <td class="salary">От 70 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000039372">Backend-разработчики</a></td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Hr_клуб</td> 
     <td class="salary">От 2 000 до 3 000 usd.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000040273">Senior Java Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Webdom</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000038778">Python разработчик в команду машинного обучения</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="hefciehij">Java Junior</a></td> 
     <td class="city">Kharkov</td> 
     <td class="companyName">Epam</td> 
     <td class="salary">1000</td> 
    </tr> 
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="hefciehij">Java Junior</a></td> 
     <td class="city">Kharkov</td> 
     <td class="companyName">Epam</td> 
     <td class="salary">1000</td> 
    </tr> 
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="hefciehij">Java Junior</a></td> 
     <td class="city">Kharkov</td> 
     <td class="companyName">Epam</td> 
     <td class="salary">1000</td> 
    </tr> 
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="hefciehij">Java Junior</a></td> 
     <td class="city">Kharkov</td> 
     <td class="companyName">Epam</td> 
     <td class="salary">1000</td> 
    </tr> 
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>